
body{
	background-color: white;
}
.home{
	font-family: "Lucida Console", Courier, monospace;
	color: white;
	text-align: center;
	margin: 10% 30%;
}
.nav-area{
	background: white;
	top: 0;
	position: fixed;
	display: inline-block;
	width: 100%;
	padding: 1%;
}
.topnav {
		overflow: auto;
}
/* Style the links inside the navigation bar */
.topnav a {
  list-style: none;
  color: BlueViolet;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.4s;
}
/* Change the color of links on hover */
.topnav a:hover {
  background: BlueViolet;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background: BlueViolet;
  color: white;
}
.topnav a{
	float: left;
}
.about-text{
	background: #1E90FF;
	font-family: "Lucida Console", Courier, monospace;
	color: white;
	position: absolute;
	text-align: center;
	font-size: 20px;
	margin: 10% 30%;
	padding: 5%;
	box-shadow: 5px 10px 6px grey;
}
.contact-text{
	background: BlueViolet;
	font-family: "Lucida Console", Courier, monospace;
	color: white;
	position: absolute;
	text-align: center;
	font-size: 18px;
	margin: 10% 30%;
	padding: 5%;
	box-shadow: 5px 10px 6px grey;
}
.contact {
	background-color: transparent;
  border: 1px solid BlueViolet;
  padding: 2% 4%;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3% 0%;
  color: BlueViolet;
  transition-duration: 0.4s;
  text-transform: uppercase;
}
.contact:hover{
	background-color: BlueViolet;
	color: white;
}
.content{
	margin-left: 5%;
	max-width: 60%;
}
.task{
	color: white;
	margin: 2%;
}
.date{
	color: white;
	margin: 2%;
}
.onetask{
	padding: 0.5%;
	margin: 0.5%;
	background: BlueViolet;
	box-shadow: 5px 10px 6px grey;
	overflow: hidden;
	max-width: 90%;
	width: 800px;
}
.button-set{
	display: block;
}
.button-type-1,.button-type-2{
	float: right;
	margin: 1% 1%;
	border: 1px solid DarkOrchid;
	padding:1%;
	display: inline;
	font: 5%;
	text-decoration: none;
	color: white;
	border-radius: 5%;
	transition-duration: 0.4s;
}
.button-type-1{
	background-color: GoldenRod;
}
.button-type-2{
	background-color: LimeGreen;
}
.button-type-1:hover{
	background-color: white;
	color: DarkOrchid;
}
.button-type-2:hover{
	background-color: white;
	color: LimeGreen;
}
.input-area{
	background-color: MediumPurple;
	padding: 2%;
	right: 5%;
	position: fixed;
	max-width: 30%;
}
.heading-text{
	color: white;
	background-color: MediumPurple;
}
.text-box{
	text-align: left;
	padding: 2%;
	width: 100%;
	border: 2px solid white;
	box-sizing: border-box;
}
.date-box{
	padding: 0.5%;
	width: 100%;
	border: 2px solid white;
	box-sizing: border-box;
}
.add-button{
		background-color: white;
  	border: 1px solid white;
  	padding: 2% 8%;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 100%;
  	color: #1E90FF;
		width: 50%;
  	transition-duration: 0.4s;
  	text-transform: uppercase;
		margin-left: 20%;
}
.add-button:hover{
	background-color:	white;
	color: #1E90FF;
}
.container-1{
	display: flex;
	margin-top: 8%;
}
