
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
   <title>Contact</title>
</head>
<body>
	<div class="nav-area">
			<div class="topnav">
					<a href="{% url 'todo_home' %}">Home</a>
					<a href="{% url 'todo_mytask' %}">My Tasks</a>
					<a class="active" href="{% url 'todo_contact' %}">Contact</a>
					<a href="{% url 'todo_about' %}">About</a>
					{% if request.user.is_authenticated %}
						<a href="{% url 'logout' %}" style="float:right;margin-right:2%;">LogOut</a>
						<a href="{% url 'change_password' %}" style="float:right;">Change Password</a>
					{% else %}
					<a href="{% url 'login' %}" style="float:right;margin-right:2%;">LogIn</a>
					<a href="{% url 'register' %}" style="float:right;">SignUp</a>
					{% endif %}
			</div>
	</div>
<div class="contact-text">
	<p>Email : shakibuddinbhuiyan@gmail.com</p>
</div>
</body>
</html>
